/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .menu ul li a {
    padding: 5px 5px 5px 0px !important;
  }
  .article {
    padding: 40px 0 30px;
  }
  .a-content {
    margin: 0;
  }
  .c-title {
    font-size: 28px;
  }
  .blog {
    padding: 0 0 70px;
  }
  .blog-item {
    margin: 40px 0px 0 0px;
  }
  .news {
    padding: 60px 0;
  }
  .load {
    padding: 40px 0 0;
  }
  .s-h1 {
    font-size: 28px;
    margin-bottom: 35px;
  }
  .c-f {
    text-align: center !important;
  }
  .blog-2 {
    padding: 30px 0 60px;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .article {
    padding: 60px 0 30px;
  }
  .load {
    padding: 60px 0 0;
  }
  .c-f {
    text-align: center !important;
  }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu ul li a {
    padding: 5px 5px 5px 0px !important;
  }
  .article {
    padding: 60px 0 30px;
  }
  .load {
    padding: 60px 0 0;
  }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
}
/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
